@page
@model IndexModel

<div class="container">
    <h1>Lista de Produtos</h1>

    <div class="container my-2 p-2">
        <a asp-page="Create" class="btn btn-success">Novo</a>
    </div>

    @if (Model.Produtos.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produto in Model.Produtos)
                {
                    <tr>
                        <td>@produto.Id</td>
                        <td>@produto.Nome</td>
                        <td>@produto.Preco.ToString("C")</td>
                        
                        <td class="text-center">
                            <a asp-page="Edit"
                                   asp-route-id="@produto.Id"
                                   class="btn btn-sm btn-warning">
                                Editar
                            </a>

                            
                            <a asp-page="Delete"
                                   asp-route-id="@produto.Id"
                                   class="btn btn-sm btn-danger">
                                Excluir
                            </a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info">
            Nenhum produto cadastrado.
        </div>
    }
</div>
